 @import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;500;700&display=swap');

 *{
	box-sizing: border-box;
}

html { 
	font-family: 'Radio Canada', sans-serif;
	font-weight: 400;
	font-size: 100%;
	line-height: 1.5;
	background-image: linear-gradient(to bottom,mediumseagreen,ghostwhite);
}
.gridContainer {
display: grid;
justify-items: normal;
grid-template-columns: 25% 75%;
grid-template-rows: min-content min-content min-content;
grid-template-areas:  
"titulo img"
"parrafo img"
"button img";
}

.gridContainer img{
display: inline-grid;
justify-items: center;
position: fixed;
}

.gridContainer h1{
display: grid;
grid-area: titulo;
line-height: 2;
}

.gridContainer ul{
display: grid;
justify-items: left;
grid-template-columns: 100%;
grid-template-rows: min-content min-content min-content;
grid-row-gap: 2px;
grid-column-gap: 10px;
}

.navbar-nav:hover{
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 1px;
 color: #fff;
 height: 100px;
 transition:  2s;
}


.nav-links a {
 color: #fff;
}

.styleGeneral {
display: grid;
justify-items: center;
grid-template-columns: 100%;
grid-template-rows: min-content min-content min-content;
grid-row-gap: 2px;
grid-column-gap: 10px;
}


footer{
	position: fixed;
	bottom: 0;
	font-size: 70%;
	line-height: 1;
}